<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <%- partial("_head") %>

  <body class="theme-base-0d">

    <header class="masthead">
      <div class="masthead-inner">
        <p class="lead">2015 NodeJS</p>

        <div class="colophon">
          <p>&copy; 2014. Howard Yeh <br/>All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      <%- yield %>
    </div>

    <%- partial("_tail") %>

  </body>
</html>
